@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Tilt+Neon&display=swap");
/* Animations */
@keyframes nav-animation {
  from {
    right: -150%;
  }
  to {
    right: 0;
  }
}
/* Presets */
:root {
  --primary-color: #01f38d;
  --primary-color-alt: #003128;
  --text-color: #d1ffeb;
  --title-color: #e8fff5;
  --bg-color: linear-gradient(114.29deg, #0b1926 -15.11%, #020606 106.05%);
  --menu-border: #006400;
  --button-color: #0b1926;

  --body-font: "Poppins", sans-serif;
  --title-font: "Poppins", sans-serif;
  --hero-title-font: "Tilt Neon", cursive;

  --body-size: 1rem;
  --hero-title-size: 2.5rem;
  --title-size: 2rem;
  --sub-title-size: 1.5rem;

  --body-weight: 400;
  --title-weight: 600;
  --sub-title-weight: 500;
  --link-weight: 500;

  --box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: var(--body-weight);
  position: relative;
  min-height: 100vh;
  padding-bottom: 350px;
}
section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
h1 {
  color: var(--title-color);
  font-family: var(--hero-title-font);
  font-size: var(--hero-title-size);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
h2 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  text-align: center;
  margin-bottom: 1rem;
}
h3 {
  font-size: var(--sub-title-size);
  font-weight: var(--sub-title-weight);
  margin-bottom: 1.5rem;
}
p {
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
  color: var(--text-color) !important;
}
img {
  max-width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
label,
input,
textarea {
  display: block;
  width: 100%;
}
label {
  margin-bottom: 0.5rem;
}
input,
textarea {
  font-family: var(--body-font);
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
textarea {
  resize: none;
  height: 120px;
}
input:focus,
textarea:focus {
  outline: none;
  background-color: #ffffff;
}
input[type="file"] {
  background-color: initial !important;
}
button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
}
::placeholder {
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  font-size: 1rem;
}
::selection {
  background-color: var(--primary-color);
  color: #ffffff;
}

/* Utility Classes */
.container-box {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.flex-box > * {
  flex: 1;
}
.button-group {
  display: flex;
  gap: 1rem;
}
.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--button-color) !important;
  font-weight: 500;
  padding: 0.5rem 1rem !important;
  border: 2px solid var(--primary-color);
  border-radius: 5px !important;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color) !important;
}
.button-alt {
  background-color: transparent;
  color: var(--primary-color) !important;
}
.button-alt:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color) !important;
  color: var(--button-color) !important;
}
.section-title {
  margin-bottom: 0.5rem;
}
.after-title-text {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  text-align: center;
}
.colored-text {
  color: var(--primary-color);
}

/* Header Section */
.header-section {
  padding: 1rem 0;
  border-bottom: 2px solid var(--primary-color);
  background: var(--bg-color);
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.header-section .container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section .container-box .site-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.header-section .container-box .site-logo img {
  max-width: 40px;
}
.header-section .container-box .site-logo span {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
}
.header-section .topper-nav {
  display: none;
}
.header-section nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header-section nav ul a {
  padding: 0;
  border-radius: 0;
}
.header-section nav ul a.active {
  background-color: transparent !important;
  color: var(--primary-color) !important;
}
.header-section .fa-bars-staggered,
.header-section .fa-xmark {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
  display: none;
}

/* Hero Section */
.hero-section {
  padding-top: 3rem;
}
.hero-section .pre-title {
  margin-bottom: 0.5rem;
}
.hero-section .pre-title .line {
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: white;
  position: relative;
  bottom: 3px;
  margin-right: 5px;
}
.hero-section .pre-title .hello {
  display: inline-block;
  padding: 3px 25px;
  background-color: white;
  color: var(--button-color);
  border-radius: 4px;
  font-weight: 500;
}
.hero-section p,
.about-section p {
  max-width: 700px;
}

/* Animation CSS */
.hero-section {
  overflow: hidden;
}
.hero-section .container-box {
  position: relative;
}
.animation-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  filter: brightness(75%) contrast(120%);
}
.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: linear-gradient(#303030, #757575);
  z-index: 2;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #1cd99d;
  border-radius: 50%;
}
.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #f5f5f5;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.animation-fix {
  overflow: hidden;
}

/* About Section */
.about-section p {
  margin-bottom: 1rem;
}
.about-short-info-box {
  max-width: 450px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.about-short-info-box .about-short-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-short-info-box .about-short-info span:first-child {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Services Section */
.card-box-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.card-box-flex .card-box {
  background-color: var(--primary-color-alt);
  max-width: 320px;
  padding: 2rem 3rem;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}
.card-box-flex .card-box img {
  height: 60px;
  margin: initial;
  margin-bottom: 1.5rem;
}
.card-box-flex .card-box > i {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}
.card-box-flex .card-box h3 {
  margin-bottom: 0.5rem;
}
.card-box-flex .card-box p {
  margin-bottom: 1.5rem;
}
.card-box-flex .card-box .button:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* Distribution House Section */
.dh-section .head-office {
  position: relative;
}
.dh-section .head-office::before {
  content: "Head Office";
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--button-color);
  padding: 4px 15px;
  border-radius: 5px;
  font-weight: 500;
  position: absolute;
  left: -30px;
  top: 16px;
  transform: rotate(-45deg);
}

/* Team Section */
.team-banner {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--primary-color-alt);
  padding: 3rem 2rem;
  border-radius: 15px;
  max-width: 900px;
  margin: 0 auto;
}
.team-banner > * {
  width: 50%;
}
.team-banner > img {
  border-radius: 15px;
}
.team-banner h3 {
  color: var(--primary-color);
  margin-bottom: 0rem;
}
.team-banner span {
  display: block;
  margin-bottom: 1.5rem;
}
.team-banner p {
  text-align: justify;
}
.team-banner .social-icon-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.team-banner .social-icon-box img {
  max-width: 40px;
}
.team-section .card-box-img {
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.team-section .card-box-flex .card-box {
  padding: 0;
}
.team-section .team-social-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  overflow: hidden;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  transition: top 0.3s ease;
}
.team-section .team-social-icons img {
  width: 40px;
}
.team-section .card-box-flex .card-box:hover .team-social-icons {
  top: 0;
}
.team-section .card-box-flex .card-box:hover .card-box-img > img {
  filter: brightness(30%);
}
.team-section .card-box img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.team-section .card-box .card-box-info {
  padding: 1.5rem 2rem;
}
.team-section .card-box .card-box-info h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

/* Contact Section */
.contact-section iframe {
  border: none;
  width: 100%;
  min-height: 500px;
  border-radius: 15px;
}
.contact-section .input-flex {
  display: flex;
  gap: 1rem;
}
.contact-section .input-flex > * {
  flex: 1;
}
.contact-section h2 {
  text-align: left;
}

/* Footer Section */
.footer-section {
  background-color: var(--primary-color-alt);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-section .main-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-section .main-footer .flex-box .left-div p {
  max-width: 500px;
}
.footer-section .main-footer img {
  max-width: 100px;
  margin-left: 0;
  margin-bottom: 1rem;
}
.footer-section .main-footer p {
  margin-bottom: 1rem;
}
.footer-section .main-footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-section .main-footer .footer-line {
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  margin: 0 auto;
  display: none;
}
.footer-section .bottom-footer {
  background-color: var(--primary-color);
  color: var(--button-color);
  text-align: center;
  padding: 2rem 0;
}
.footer-section .bottom-footer a {
  color: var(--button-color) !important;
  font-weight: 500;
}

/* Scroll To Top */
.scroll-to-top {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primary-color-alt);
  position: fixed;
  bottom: -100px;
  right: 2rem;
  border: 2px solid var(--primary-color);
  transition: bottom 0.5s ease;
}
.scroll-to-top.active {
  bottom: 2rem;
}
.scroll-to-top img {
  width: 50px;
}

/* Thank You Section */
.thank-section .thank-card {
  background-color: var(--primary-color-alt);
  padding: 2rem;
  border-radius: 15px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Table Section */
.table-section h2 {
  margin-bottom: 2rem;
}
.table-section .search-container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
.table-section .search-container i {
  padding: 10px;
  display: block;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #303030;
}
.table-section .search-container input {
  width: 100%;
}

.table-section .table-wrapper {
  overflow-x: auto;
}
.table-section #data-table {
  background-color: rgba(255, 255, 255, 0.08);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 0.5rem;
  text-align: center;
}
.table-section #table-body tr {
  cursor: pointer;
}
.table-section #data-table tr:hover {
  background-color: var(--primary-color-alt);
}
.table-section #data-table,
.table-section #data-table th,
.table-section #data-table td {
  border: 1px solid var(--text-color);
  border-collapse: collapse;
}
.table-section th,
.table-section td {
  padding: 10px 15px;
}
.table-section #data-table th {
  background-color: var(--primary-color);
  color: var(--button-color);
}
#data-table td img {
  width: 50px;
  border-radius: 3px;
  cursor: pointer;
}

/* Image Fullscreen */
.fs-area {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 11;
  display: none;
}
.fs-area.active {
  display: block;
}
.fs-area i {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
}
.fs-area img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
}

/* Employee Card */
.employee-card .button-wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.employee-card .card {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.employee-card .card .icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.employee-card .card .icon-area span {
  display: block;
  width: 120px;
  height: 3px;
  background-color: var(--text-color);
  position: relative;
  top: 10px;
}
.employee-card .card .icon-area img {
  max-width: 40px;
}
.table-section,
.employee-card {
  display: none;
}
.table-section.active,
.employee-card.active {
  display: block;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  body {
    padding-bottom: 480px;
  }
  img {
    max-width: 100%;
  }
  .flex-box {
    flex-direction: column;
  }
  .flex-box > * {
    width: 100%;
  }
  .about-section .flex-box {
    flex-direction: column-reverse;
  }
  .team-banner {
    flex-direction: column;
  }
  .team-banner > * {
    width: 100%;
  }
  .contact-section .input-flex {
    flex-direction: column;
    gap: 0;
  }
  .contact-section .flex-box {
    flex-direction: column-reverse;
  }
  .contact-section h2 {
    text-align: center;
  }
  .contact-section iframe {
    min-height: 320px;
  }
  .footer-section .main-footer .footer-line {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  /* Header Section */
  .header-section .fa-bars-staggered,
  .header-section .fa-xmark {
    display: block;
  }
  .header-section nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    background-color: var(--primary-color-alt);
    width: 320px;
    max-width: 80%;
    border-left: 3px solid var(--menu-border);
    transition: right 0.3s ease;
  }
  .header-section nav.active {
    right: 0;
  }
  .header-section .topper-nav {
    display: block;
    padding: 3rem 2rem;
  }
  .header-section .topper-nav > img {
    max-width: 50%;
    margin-bottom: 1rem;
  }
  .header-section .topper-nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .header-section .topper-nav-icons img {
    width: 35px;
  }
  .header-section nav ul {
    flex-direction: column;
    gap: 0;
  }
  .header-section nav ul li {
    width: 100%;
  }
  .header-section nav ul a {
    font-size: 1.1rem;
    display: block;
    width: calc(100% - 20px);
    text-align: center;
    padding: 12px 0 !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    margin-right: 20px;
  }
  .header-section nav ul a.active {
    background-color: var(--primary-color) !important;
    color: var(--button-color) !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .header-section nav .button {
    background-color: transparent;
    color: var(--text-color) !important;
    border: none;
    font-weight: var(--body-font-weight);
  }
  .header-section nav .fa-xmark {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
  }
  /* Navigation Animation */
  .header-section nav.active li a {
    position: relative;
    animation: nav-animation 0.5s ease-in backwards;
  }
  header nav.active li:nth-child(2) a {
    animation-delay: 0.05s;
  }
  header nav.active li:nth-child(3) a {
    animation-delay: 0.1s;
  }
  header nav.active li:nth-child(4) a {
    animation-delay: 0.15s;
  }
  header nav.active li:nth-child(5) a {
    animation-delay: 0.2s;
  }
  header nav.active li:nth-child(6) a {
    animation-delay: 0.25s;
  }
  header nav.active li:nth-child(7) a {
    animation-delay: 0.3s;
  }
}
@media screen and (min-width: 992px) {
  .container-box {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container-box {
    width: 1170px;
  }
}
@media screen and (min-width: 1400px) {
  .container-box {
    width: 1360px;
  }
}
@media screen and (min-width: 1700px) {
  .container-box {
    width: 1640px;
  }
}
@media screen and (min-width: 2000px) {
  .container-box {
    width: 1920px;
  }
}
